 <form action="/favorites" method="POST">
   <input type="hidden" name="action" value="add">
    <input type="hidden" name="id" value="<%= home.id %>">
    <button type="submit" class="bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-lg shadow transition duration-200 focus:outline-none focus:ring-2 focus:ring-green-300 font-semibold text-base">
      Add to Favorite
    </button>
  </form>