<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>

  <main class="max-w-md w-full mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-red-700 text-3xl text-center p-6 font-medium">Register your Home!</h1>
    <form action="/host/add-home" method="post" class="space-y-4 flex flex-col items-center w-full">

      <input type="text" placeholder="Enter your home name" name="houseName" class="w-full max-w-xs px-3 py-2 text-base border border-gray-400 rounded shadow focus:outline-none focus:border-red-700">

      <input type="text" placeholder="Price per night" name="price" class="w-full max-w-xs px-3 py-2 text-base border border-gray-400 rounded shadow focus:outline-none focus:border-red-700">

      <input type="text" placeholder="Location" name="location" class="w-full max-w-xs px-3 py-2 text-base border border-gray-400 rounded shadow focus:outline-none focus:border-red-700">

      <input type="text" placeholder="Rating" name="rating" class="w-full max-w-xs px-3 py-2 text-base border border-gray-400 rounded shadow focus:outline-none focus:border-red-700">

      <input type="text" placeholder="Image URL" name="img" class="w-full max-w-xs px-3 py-2 text-base border border-gray-400 rounded shadow focus:outline-none focus:border-red-700">
      
      <input type="submit" value="Register" class="w-full max-w-xs text-white bg-red-700 py-2 rounded-xl mt-4 cursor-pointer hover:bg-red-800 transition">
    </form>
  </main>
</body>
</html>