<%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <main class="shadow-lg mx-8 my-10 text-center flex flex-col justify-center items-center">
    <h1 class = "text-red-700 text-4xl   p-8 font-medium">Your house is registered!</h1>
    <a href="/" class="bg-red-700 w-40 p-1.5 mb-10 border-0 rounded-lg text-white ">Return to Home</a>
  </main>
</body>
</html>